.currently-running {
  margin-top: 64px;
  &.crisis {
    margin-top: 16px;
  }
  .title {
    text-transform: uppercase;
    margin: 8px 0;
  }
  .subtitle {
    margin: 0;
    color: white;
    background: #3d3d3d;
    border-radius: 25px;
    padding: 4px 18px;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .timing {
    color: #2e2e2e;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .status {
    width: fit-content;
    text-align: center;
    background: #c47a43;
    margin: 16px auto 16px auto;
    padding: 4px 32px;
    font-size: 16px;
    border-radius: 32px;
    animation: hue-rotate 3s linear infinite;
    &.live {
      background: #c44343;
      filter: drop-shadow(2px 2px 6px #c44343);
    }
    &:hover {
      filter: grayscale(0.2);
    }
  }
}

@keyframes hue-rotate {
  0% {
    filter: grayscale(0);
  }
  50% {
    filter: grayscale(0.6);
  }
  100% {
    filter: grayscale(0);
  }
}
