h3.vertical-timeline-element-title {
  text-transform: uppercase;
  margin: 8px 0;
}

h4.vertical-timeline-element-subtitle {
  margin: 0;
  color: white;
  background: #3d3d3d;
  border-radius: 25px;
  padding: 4px 18px;
  a {
    color: white;
    text-decoration: none;
  }
}

.event-logo {
  width: inherit;
}

h1,h3 {
  a.schedule-link {
    color: white;
    text-decoration: none;
  }
}
