h3.vertical-timeline-element-title {
  text-transform: uppercase;
  margin: 8px 0;
  a {
    color: white;
    text-decoration: none;
  }
}

h4.vertical-timeline-element-subtitle {
  margin: 0;
  color: white;
  background: #3d3d3d;
  border-radius: 25px;
  padding: 4px 18px;
  a {
    color: white;
    text-decoration: none;
  }
}

.vertical-timeline-element-description {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.event-logo {
  width: inherit;
}

h1,h3 {
  a.schedule-link {
    color: white;
    text-decoration: none;
  }
}

.channel-wrapper {
  display: inline-block;
  margin: 16px;
  .channel-logo {
    height: 76px;
    border-radius: 16px;
    filter: grayscale(0.6);
    &:hover {
      filter: grayscale(0); 
    }
  }
}

.title {
  font-size: 1.25rem;
  background: #212121;
  padding: 8px;
  margin: -16px -16px 8px -16px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
  @media (min-width: 1170px) {
    margin: -24px -24px 8px -24px;
  }
}

.event-details {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: 16px;
  border-radius: 5px;
  background: linear-gradient(315deg, #6e97a5 0%, black 74%);
  align-items: center;
  .jc-event-logo {
    transition: all 0.3s ease-in;
    img {
      height: 120px;
      margin: 8px;
      border-radius: 10px;
      &:hover {
        filter: hue-rotate(180deg);
      }
    }
  }
  @media (max-width: 600px) {
    & {
      background: #171717c7;
    }
    .jc-event-logo {
      display: none;
    }
  }
}

.hosts-and-guests {
  display: flex;
  flex-direction: column;
  margin: 8px 16px;
}

.host {
  margin: 8px 0;
}

.host-title {
  font-size: 10px;
  margin-bottom: 2px;
}

.host-icon {
  filter: invert(1);
  width: 12px;
  margin-right: 4px;
}

.guest-icon {
  filter: invert(1);
  width: 12px;
  margin-right: 4px;
}

.guest {
  margin: 4px 0;
}
